
$tablet_landscape_breakpoint: 992px;

@mixin tablet-portrait {
    @media only screen and (min-width:$tablet_landscape_breakpoint) {
      @content;
    }
  }

@mixin backgroundImg ($url, $pos, $siz){
    background-image:url($url);
    background-position:$pos;
    background-size:$siz;
}
@mixin flex ($dis, $dir, $just, $wrap){
    display: $dis;
    flex-direction: $dir;
    justify-content: $just;
    flex-wrap: $wrap;
}

.footer {
    background-color: black;
    margin: 0%;
    top:100%;
    @include tablet-portrait {
        &{
            margin: 5% 0% 0% 0%;
            @include flex (flex, row, center, wrap);
            text-align: center;
        }
    }

    & h3 {
        color: rgb(255, 255, 255);
        padding: 15% 0% 0% 0%;
        font-style: italic;
        margin: 0%;
        @include tablet-portrait {
            &{
                margin: 0% 0% 0% 5%;

            }
        }
    }
    & h4 {
        margin:10% 0% 0% 0%;
        padding: 3%;
        color: white;
        font-size: 79%;
        text-align: center;
    }
    &__social {
        @include flex (flex, row, space-evenly, wrap);
        padding:0%;
        margin: 5% 0% 5% 0%;
        @include tablet-portrait {
            &{
                margin: 20% 10% 0% 0%;
                flex-direction: column;
            }
        }
        &--li {
            border:1px solid rgb(255, 255, 255);
            align-self: center;
            list-style-type: none;
            font-size: 1.3em;
            padding: 1%;
            margin: 1%;
            &:hover {
                background-color: aquamarine;
            }
            & a{
                color: white;
                text-decoration: none;
                &:hover {
                    color: black;
                }
            }
        }
    }
}