.header, .header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__title {
  background-image: url("../img/place/perspective.jpg");
  background-position: center;
  background-size: cover;
  margin: 0%;
  padding: 0% 4% 12% 4%;
}

@media only screen and (min-width: 992px) {
  .header__title {
    background-image: url("../img/place/water.jpg");
    background-position: center;
    background-size: cover;
  }
}

.header__title h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 3em;
  margin: 20%;
}

@media only screen and (min-width: 992px) {
  .header__title h1 {
    font-size: 6em;
    margin: 20% 40% 5% 40%;
  }
}

.header__title p {
  font-style: italic;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.5em;
}

@media only screen and (min-width: 992px) {
  .header__title p {
    font-size: 2em;
  }
}

.nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0%;
}

.nav__logo {
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin: 0%;
}

.nav__logo img {
  width: inherit;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  width: 100%;
  list-style-type: none;
}

.nav__ul--li {
  margin: 0%;
  padding: 0%;
}

.nav__ul--li a {
  margin: 1%;
  text-decoration: none;
}

.nav__ul--li p {
  background-color: black;
  color: white;
  font-size: 1.2em;
  padding: 1% 10%;
  margin: 0%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav__ul--li p:hover {
  border: 2px solid #19c7b0;
}

@media only screen and (min-width: 992px) {
  .nav__ul--li p {
    padding: 2% 15%;
    font-size: 2em;
  }
}
/*# sourceMappingURL=header.css.map */