.header {
    display: flex;
    flex-direction: column;
}
.header__title {
    background-image: url("../img/place/perspective.jpg");
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    font-size: 2em;
    margin: 0% 0% 0% 0%;
    padding: 0% 4% 12% 4%;
}
.header__title h1 {
    align-self: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 3em;
    margin:20%;
}
.header__title p {
    font-style: italic;
    align-self: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
}

.nav {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:0%;
    justify-content: space-around;
}
.nav__logo {
    align-content: center;
    width: 100%;
    margin: 0%;
}
.nav__logo img {
    width:inherit;
}
.nav__ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0%;
    padding:0%;
    width: 100%;
    list-style-type: none;
}
.nav__ul--li{
    margin: 3%;
    padding: 0%;
}
.nav__ul--li a {
    text-decoration: none;
}
.nav__ul--li a p {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 2em;
    padding:2% 10%;
    margin:0%;
    width: fit-content;
}


